.main {
  max-width: 1200px;
  width: 80%;
  margin: auto;
  padding: 1rem;
  text-align: center;
  position: relative;
}

.main h1 {
  font-size: 24px;
  font-weight: bold;
  padding: 2rem;
}

.secCon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

@media (max-width: 900px) {
  .secCon {
    flex-direction: column;
  }
}

.btn {
  width: 100%;
  padding: 1rem;
  border-radius: 12px;
  border: 1px solid rgb(56, 128, 252);
  background-color: rgb(84, 145, 249);
  color: white;
  cursor: pointer;
}

/* InputForm */
.InputForm {
  width: 400px;
  height: 250px;
  border: 1px solid gray;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  gap: 0.5rem;
}

.InputForm div {
  padding: 0.5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.InputForm div label {
  font-size: 1rem;
  font-weight: bold;
}

.InputForm div input {
  padding: 0.5rem;
  width: 250px;
}

.select {
  transform: translateX(45px);
  width: 150px;
  padding: 0.5rem;
}

.groupAddBtn {
  width: 110px;
  padding: 0.4rem;
}

.inputName,
.inputPhone {
  position: relative;
}

.nameError,
.phoneError {
  position: absolute;
  color: red;
  bottom: -10px;
  right: 10px;
  font-size: 12px;
}

/* ListArea */
.listCon {
  width: 500px;
}

.inputCon {
  display: flex;
  gap: 1rem;
  padding: 1rem 0;
}

.inputCon input {
  border-radius: 12px;
  flex: 1;
  padding: 0 1rem;
  border: none;
  background-color: rgba(113, 193, 230, 0.2);
  width: 60%;
}

.inputCon button {
  width: 150px;
}

.list {
  display: flex;
  padding: 0.5rem;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gray;
}

.listBtns button {
  padding: 0.5rem;
  margin: 0 5px;
}

/* groupModal */
.modalCon {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modalCon .modal {
  width: 90%;
  max-width: 400px;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 14px;
  background-color: white;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.modalCon .modal h2 {
  font-size: 24px;
  font-weight: bold;
  padding: 1rem;
}

.closeModal {
  position: absolute;
  top: -50px;
  width: 50px;
  height: 30px;
  background-color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
}


.groups {
  display: flex;
  border: 1px solid gray;
  margin-bottom: 5px;
  width: 230px;
  padding: 0.5rem;
  justify-content: space-between;
}

.groups p {
  cursor: pointer;
}

.modal .groupInputCon {
  width: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.modal .groupInputCon .groupAddBtn {
  width: 50px;
}

.modal .groupInput {
  width: 150px;
  padding: 0.5rem;
}

.detailCloseBtn {
  left: 50%;
  transform: translateX(-50%);
}


.detailCon p {
  padding: 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}